.slider {
	position: relative;     
  width: 400px;
  height: 250px;
  border: 8px solid #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  text-align: center;
  overflow: hidden;
}

.slider > input {
  display: none;
}

.btn-r {
	position: relative;
	top: 90%;
  z-index: 100;
	
	display: inline-block;
  margin-right: 4px;

  width: 10px;
  height: 10px;
  border: 2px solid rgba(190, 190, 190, 1);
  border-radius: 8px;  
	background: rgba(90, 90, 90, 0.5);
  cursor: pointer;
  transition: border 0.8s ease-out 0s;        
}

.btn-r:hover {
	border: 2px solid rgba(230, 230, 230, 1);
}

.slider > input:checked + label {
  border: 2px solid rgba(230, 230, 230, 1);
}

.btn-r:after {
  content: ' ';
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(90, 90, 90, 0.8);
  border-radius: 8px;
  background: rgba(230, 230, 230, 1);
  opacity: 0;
  transition: opacity 0.8s ease-out 0s;
}

.slider > input:checked + label:after {
  opacity: 1;
}

.btn-prev, .btn-next {
  display: none;
}


.slider > input:checked + label + label,
.slider > input:checked + label + label + label {
	position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
        
  display: block;
  width: 50px;
  height: 50px;
	
	cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.8s ease-out 0s;      
}

.slider > input:checked + label + label {
  left: 0px;
  background: url('https://lh3.googleusercontent.com/-tacAA4lVYgc/VeVDqFrDRRI/AAAAAAAAAT4/RBongekAUqI/s800-Ic42/prev.png')
}

.slider > input:checked + label + label + label {
  right: 0px;
  background: url('https://lh3.googleusercontent.com/-gy6RMZnCdAc/VeVDqJF1S5I/AAAAAAAAAT0/D4nN8T9RGro/s800-Ic42/next.png')
}

.slider > input:checked + label + label:hover,
.slider > input:checked + label + label + label:hover {
  opacity: 0.6;
}

.s-picture {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 0;

  width: 1000%;
  font-size: 0;
  text-align: left;
  transition: left 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.slider > input:nth-of-type(2):checked ~ div { left: -100%; }
.slider > input:nth-of-type(3):checked ~ div { left: -200%; }
.slider > input:nth-of-type(4):checked ~ div { left: -300%; }

.s-picture__container {
	position: relative;
  display: inline-block;
}
