.about-me
	margin-bottom 20px

	&__paragraph
		margin-bottom 34px

	&__title
		title-p()
		margin-bottom 5px

	&__content
		content-p()

	&__textarea
		input-p()
		width 100%
		overflow hidden
		line-height 60px
		resize none
		background-color transparent
		background-repeat repeat-y
		background-size 100% 60px
		background-position -5px 20px
		background-image url('../images/textarea.png')
		border none