fieldset.about-me
	.about-me__paragraph
		p.about-me__title Расскажите о себе словами
		p.about-me__content Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	textarea.about-me__textarea Здорово, когда при нехватке места для текста строки добавляются автоматически.