@font-face
	font-family 'Courier New Regular'
	src url('../../fonts/CourierNewRegular.ttf')

@font-face
	font-family 'PT Sans Regular'
	src url('../../fonts/PTSansRegular.ttf')

@font-face
	font-family 'PT Sans Bold'
	src url('../../fonts/PTSansBold.ttf')
