$brown = #2f1b15
$brown_dark = #231f20
$grey = #3d3d3d
$blue = #1f5f97

$ptsans_r = 'PT Sans Regular'
$ptsans_b = 'PT Sans Bold'
$courier = 'Courier New Regular'

title-p()
	font-family $ptsans_b
	font-size 24px
	line-height 50px
	color $brown

content-p()
	font-family $ptsans_r
	font-size 15px
	line-height 23px
	color $grey
	text-shadow 1px 0 0 #9e8b6f

input-p()
	font-family $courier
	font-size 30px
	line-height 36px
	color $brown_dark