fieldset.skills

	.skills-paragraph
		p.skills-paragraph__title Расскажите о себе чекбоксами
		p.skills-paragraph__content Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантированно будете справляться.
		
	.skills-list
		.skills-item
			label(for='bem' class='skills-item__label') БЭМ/ООСSS
				input(id='bem' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='pug' class='skills-item__label') Pug (Jade)
				input(id='pug' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='stylus' class='skills-item__label') Stylus/LESS/SASS
				input(id='stylus' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='svg' class='skills-item__label') Работаю с SVG
				input(id='svg' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='semantic' class='skills-item__label') Верстаю семантично
				input(id='semantic' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='accessibility' class='skills-item__label') Accessibility (A11Y)
				input(id='accessibility' class='skills-item__input' type='checkbox')
				.skills-item__box

		.skills-item
			label(for='es2015' class='skills-item__label') ES2015/ES2016
				input(id='es2015' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='gulp' class='skills-item__label') Gulp/GRUNT
				input(id='gulp' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='webpack' class='skills-item__label') Webpack
				input(id='webpack' class='skills-item__input' type='checkbox')
				.skills-item__box

		.skills-item
			label(for='webgl' class='skills-item__label') Дружу с WebGL
				input(id='webgl' class='skills-item__input' type='checkbox')
				.skills-item__box

		.skills-item
			label(for='jquery' class='skills-item__label') JQuery
				input(id='jquery' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='angular' class='skills-item__label') Знаю/изучаю Angular
				input(id='angular' class='skills-item__input' type='checkbox')
				.skills-item__box

		.skills-item
			label(for='react' class='skills-item__label') Знаю/изучаю React
				input(id='react' class='skills-item__input' type='checkbox')
				.skills-item__box

		.skills-item
			label(for='node' class='skills-item__label') Знаю/изучаю Node.js
				input(id='node' class='skills-item__input' type='checkbox')
				.skills-item__box
			
		.skills-item
			label(for='git' class='skills-item__label') Использую Git
				input(id='git' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='eye' class='skills-item__label') С глазомером всё ок
				input(id='eye' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='blog' class='skills-item__label') Читаю
				a(class='blog-link' href='http://blog.csssr.ru/' target='_blank') blog.csssr.ru
				input(id='blog' class='skills-item__input' type='checkbox' checked)
				.skills-item__box

		.skills-item
			label(for='lazy' class='skills-item__label') Я ленивый
				input(id='lazy' class='skills-item__input' type='checkbox')
				.skills-item__box

		.skills-item
			label(for='english' class='skills-item__label') У меня хороший английский
				input(id='english' class='skills-item__input' type='checkbox' checked)
				.skills-item__box
