.page-header
	position relative
	margin-bottom 40px
	padding-top 1px

	&__logo
		margin 13px auto 40px 0
		width 154px
		height 52px
		background url('../images/logo.png') no-repeat center
		
	&__title
		margin 0 auto
		width 221px
		height 118px
		background url('../images/delo.png') no-repeat center

	&__marker
		position absolute
		top 1px
		right -63px
		width 252px
		height 106px
		background url('../images/secretno.png') no-repeat center
