fieldset.initials

	.initials-box
		label(for='name' class='initials-box__label') Полное ФИО
		input(id='name' class='initials-box__input' type='text' value='Агарзаев Марат Павлович')

	.initials-box
		label(for='birthday' class='initials-box__label') Год рождения
		input(id='birthday' class='initials-box__input' type='text' value='1991')

	.initials-box
		label(for='location' class='initials-box__label') Место жительства
		input(id='location' class='initials-box__input' type='text' value='г. Санкт-Петербург, Россия')

	.initials-box
		label(for='skype' class='initials-box__label') Скайп
		input(id='skype' class='initials-box__input' type='text' value='vdeltahedge')

	.initials-box
		label(for='email' class='initials-box__label') Почта
		input(id='email' class='initials-box__input' type='email' value='vdeltahedge@gmail.com')