fieldset.future
	.future__paragraph
		p.future__title Какие у вас планы на будущее?
		p.future__content Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
	
	.future__list
		.future-item
			input(id='makeup' class='future-item__input' type='radio' name='radio-btn')
			label(for='makeup' class='future-item__label') Верстать

		.future-item
			input(id='js' class='future-item__input' type='radio' name='radio-btn' checked)
			label(for='js' class='future-item__label') Прокачиваться в JS

		.future-item
			input(id='management' class='future-item__input' type='radio' name='radio-btn')
			label(for='management' class='future-item__label') Менеджерство

		.future-item
			input(id='other' class='future-item__input' type='radio' name='radio-btn')
			label(for='other' class='future-item__label') Другое
