form
	include /blocks/page-components/initials/initials
	include /blocks/page-components/skills/skills
	include /blocks/page-components/js-level/js-level
	include /blocks/page-components/about-me/about-me
	include /blocks/page-components/future/future
	include /blocks/page-components/date/date