.date__label
	title-p()
	margin-right 18px
	font-size 22px	

.date__input
	input-p()
	position relative
	top -10px
	padding 0 15px
	overflow hidden
	background-color transparent
	border 1px solid transparent
	border-bottom 3px solid $brown
	border-image url('../images/border-image.png') 0 0 3 0 round