fieldset.js-level
	p.js-level__title Уровень владения JavaScript
	.slider
		.slider__token
		span.slider__point Не владею
		span.slider__point Использую готовые решения
		span.slider__point Использую готовые решения и умею их переделывать
		span.slider__point Пишу сложный JS с нуля
		.slider__pseudo